name: Test
on:
  pull_request:
  push:
    branches:
      - main

env:
  GO_VERSION: "1.24.x"

  concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Build
        run: make build

  lint:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1

  test:
    runs-on: ubuntu-latest
    needs: build

    services:
      redis:
        image: redis:7
        ports:
          - 6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 1s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Test
        run: go test -v -tags=integration_tests ./...
        env:
          REDIS_ADDRESS: "127.0.0.1:${{ job.services.redis.ports[6379] }}"
